*.o

# ignore sundown sources.
src/autolink.c
src/autolink.h
src/buffer.c
src/buffer.h
src/houdini.h
src/houdini_href_e.c
src/houdini_html_e.c
src/html.c
src/html.h
src/html_blocks.h
src/html_smartypants.c
src/stack.c
src/stack.h
src/markdown.c
src/markdown.h

# ignore phpized files
src/Makefile.global
src/acinclude.m4
src/aclocal.m4
src/autom4te.cache
src/build
src/config.*
src/configure
src/configure*
src/install-sh
src/iltmain.sh
src/missing
src/mkinstalldirs
src/run-tests.php
src/*.lo
src/.deps
src/.libs
src/libtool
src/Makefile*
src/modules
src/ltmain.sh
src/*.la
src/tmp-php.ini
src/php_test_results*

